{
    "server": {
        "ip": "127.0.0.1",
        "port": 8000,
        "dev": true
    },
    "websocket": {
        "ip": "127.0.0.1",
        "port": 8080
    },
    "twigConfig": {
        "cache": "./cache",
        "views": "./views",
        "cache_templates": false
    },
    "cookies": {
        "enabled": false,
        "encryption_passphrase": "",
        "encryption_algo": ""
    },
    "database": {
        "enabled": false,
        "username": "",
        "password": "",
        "name": "",
        "host": "",
        "port": ""
    }
}