{% extends "templates/basic.html" %}

{% block head %}
<title>Websocket Tester</title>
<link rel="stylesheet" href="/assets/css/Ws.css">
<script type="module" src="/assets/js/WebSocket.js"></script>
{% endblock %}

{% block body %}
<div class="ui inverted violet loading segment">
    <div class="ui massive inverted dividing header">Websocket Example Page</div>
    <div class="ui inverted form">
        <div class="sixteen wide field">
            <label>Endpoint</label>
            <input type="text" name="endpoint">
        </div>
        <div class="ui inverted dividing header">Data</div>

        <div id="data-fields"></div>

        <div class="ui divider"></div>
        <div id="sendRequest" class="ui inverted green button">Send Request</div>
        <div id="addField" class="ui inverted yellow button">Add Data Field</div>
        <div id="resetFields" class="ui inverted red button">Reset Data Fields</div>
        <div class="ui massive inverted dividing header"><span id="responseHeader" class="ui text">Response</span></div>
        
        <div class="ui inverted segment" id="response"><pre></pre></div>
    </div>
</div>

<!-- DATA FIELD TEMPLATE --> 
<div template="data-fields" class="fields">
    <div class="eight wide field">
        <label>Key</label>
        <input type="text" name="key">
    </div>
    <div class="eight wide field">
        <label>Value</label>
        <input type="text" name="value">
    </div>
</div>
{% endblock %}